<div id="logo">
  <%= image_tag "logo.png", alt: "Summer Cocktail", :class => "logo"%>
</div>
<div class="create">
  <h1 class="btn btn-primary">Create of Cocktail</h1>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card">
    <%= cl_image_tag cocktail.photo, height: 300, width: 200%>
          <ul>
            <li><%= cocktail.name %></li>
        <div class="infos">
          <% cocktail.doses.each do |dose| %>
            <li><%= dose.description %></li>
          </ul>
          <% end %>
        <div class="delete">
           <%= link_to "delete", cocktail, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div id="creation">
    <div>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :doses, as: :string %>
          <%= f.association :ingredients, as: :select %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="center">
          <div class="form-actions btn btn-primary">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>




