<div id="logo">
  <%= image_tag "logo.png", alt: "Summer Cocktail", :class => "logo"%>
</div>
<div class="create">
  <h1 class="btn btn-primary">Create of Cocktail</h1>

</div>








<div class="container">
  <div class="cards">

     <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="name"><%= cocktail.name %></div>
        <div class="infos">
          <% cocktail.doses.each do |dose| %>
            <p><%= dose.description %></p>
          <% end %>
        </div>
        <div class="delete">
          <%= link_to "delete", cocktail, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </div>


      </div>
    <% end %>
  </div>

  <div id="creation">
    <div>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :doses, as: :string %>
          <%= f.association :ingredients, as: :select %>
        </div>
        <div class="center">
          <div class="form-actions btn btn-primary">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

